MPLAB-X/build/default/
MPLAB-X/dist/default/
MPLAB-X/nbproject/*.mk
MPLAB-X/nbproject/Makefile-genesis.properties
MPLAB-X/nbproject/*.bash
MPLAB-X/nbproject/private/
MPLAB-X/dist/Sync/
MPLAB-X/build/Sync/
MPLAB-X/dist/Async/
MPLAB-X/build/Async/
MPLAB-X/dist/Good_API/
MPLAB-X/build/Good_API/