MPLAB-X/build/default/
MPLAB-X/dist/default/
MPLAB-X/nbproject/*.mk
MPLAB-X/nbproject/Makefile-genesis.properties
MPLAB-X/nbproject/*.bash
MPLAB-X/nbproject/private/
MPLAB-X/dist/Sync/
MPLAB-X/build/Sync/
MPLAB-X/dist/Async/
MPLAB-X/build/Async/
MPLAB-X/dist/Good_API/
MPLAB-X/build/Good_API/

MCUXpresso/lpc_board_nxp_lpcxpresso_1769
MCUXpresso/lpc_chip_175x_6x
MCUXpresso/periph_timer
MCUXpresso/FreeRTOS_TAD_logs

MCUXpresso/.metadata
MCUXpresso/Morse/Debug
MCUXpresso/HelloWorld/Debug

*.launch
/MPLAB-X/build/cinnamonBun/
/MPLAB-X/dist/cinnamonBun/