/build/default/
/dist/default/
/nbproject/*.mk
/nbproject/Makefile-genesis.properties
/nbproject/*.bash
/nbproject/private/
/dist/Sync/
/build/Sync/
/dist/Async/
/build/Async/
/dist/Good_API/
/build/Good_API/